@import url('https://fonts.googleapis.com/css2?family=Yantramanav&display=swap');

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(126, 126, 126);
    overflow: hidden;
}

.app-container {
    background-color: aliceblue;
    padding: 50px;
    width: 470px;
    height: 300px;
    border-radius: 5px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
    font-family: "Yantramanav", sans-serif;

}

.heading {
    text-align: center;
    color: rgb(96, 55, 61);
    text-transform: uppercase;
    font-size: 2rem;
}

.rate {
    margin-top: -1.5rem;
}

.rate1 {
    color: #848484;
}

.rate2 {
    margin-top: 0.5rem;
    font-size: 1.5rem;
}


.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
}


.swap {
    align-self: flex-end;
    padding: 10px;
    cursor: pointer;
}

.options select {
    padding: 2%;
    width: 75px;
}

.input input {
    all: unset;
    display: inline-block;
    margin-top: 1rem;
    width: 175px;
    height: 48px;
    padding: 5px;
    background-color: rgb(253, 253, 253);
    color: rgb(68, 68, 68);
    font-size: 1.2rem;
    border: none;
    box-sizing: border-box;
    border-radius: 5px;
    font-weight: 500;
    appearance: textfield;
}

.target {
    transform: translateX(-5%);
}

.result {
    margin-top: 2.3rem;
    width: 100%;
    height: 50px;
    margin-left: 10px;
    text-align: center;
    color: #fff;
    background-color: rgb(96, 55, 61);
    outline: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: none;
    border-radius: 5px;
}

.result:active {
    background-color: rgb(137, 68, 78);
}