.wrapper {
    width: 70%;
    margin: auto;
    border: 1px solid black;
    padding: 20px;
    height: fit-content;
    border-radius: 5px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
    background-color: antiquewhite;
}

.todo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.done {
    text-decoration: line-through;
}